:root {
  --primary-color: #6200ea;
  --secondary-color: #03dac5;
  --background-color: #f8f8f8;
  --text-color: #333;
  --hover-bg-color: rgba(98, 0, 234, 0.1);
  --shadow-color: rgba(0, 0, 0, 0.1);
}

.header {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  transition: all 0.3s ease;
}

.headerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  position: relative;
  z-index: 2;
}

.headerBackground {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(90deg, var(--primary-color) 0%, var(--secondary-color) 100%);
  opacity: 0.9;
  transition: opacity 0.3s ease;
}

.header.scrolled .headerBackground {
  opacity: 1;
  box-shadow: 0 2px 10px var(--shadow-color);
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logo {
  height: 40px;
  margin-right: 1rem;
  transition: transform 0.3s ease, filter 0.3s ease;
}

.logo:hover {
  transform: scale(1.1);
  filter: brightness(1.2);
}

.nav ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navLink {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease;
  font-weight: 500;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
}

.navLink::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: var(--secondary-color);
  transition: all 0.3s ease;
}

.navLink:hover::after, .navLink.active::after {
  width: 100%;
  left: 0;
}

.navLink:hover, .navLink.active {
  color: var(--secondary-color);
}

.menuToggle {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
  color: #fff;
  transition: transform 0.3s ease, color 0.3s ease;
}

.menuToggle:hover {
  color: var(--secondary-color);
  transform: rotate(90deg);
}

@media (max-width: 768px) {
  .headerContent {
    flex-wrap: wrap;
  }

  .logoContainer {
    flex-grow: 1;
  }

  .nav {
    flex-basis: 100%;
    order: 3;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out, padding 0.3s ease-out;
  }

  .nav.active {
    max-height: 300px; /* Ajustez cette valeur selon vos besoins */
    padding: 1rem 0;
  }

  .nav ul {
    flex-direction: column;
  }

  .navLink {
    padding: 0.75rem 1rem;
    display: block;
    text-align: center;
  }

  .menuToggle {
    display: block;
    order: 2;
  }
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}